.card {
    max-width: 70rem;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.content {
    padding: 0 !important; 
    margin: 0 !important;
}

.title {
    text-align: center;
    margin: 1rem 0 0 0;
    font-weight: 700 !important;
}

.bodyText {
    padding: 1.5rem;

}

.button {
    margin: auto 0;
    text-align: center;
}

.icons {
    text-align: right;
    display: inline;
    padding: 10px;
    gap: 5rem;
}

.iconsList {
    display: inline-flex;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

li {
    text-decoration: none;
    list-style: none;
}

.icon {
    word-spacing: 5rem;
    padding-right: .1rem;
}

li:hover {
    opacity: 70%;
}

.image {
    display: block;
    max-width: 15rem;
    height: auto;
    margin: auto 1rem auto 1rem;
    padding: 1rem;
}

p {
    font-weight: 500 !important;
}

h5 {
    font-weight: 600 !important;
}