.card {
    max-width: 70rem;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.title {
    text-align: center;
    margin: .5rem 0 0 0;
    font-weight: 700 !important;
}

.bodyText {
    margin: 1.5rem 0 0 0;
}

.button {
    margin: 1.5 rem auto auto auto;
    text-align: center;
}

.icons {
    text-align: right;
}

.iconsList {
    display: inline;
    gap: 5rem;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline;
}

li:hover {
    opacity: 70%;
}

.image {
    display: block;
    max-width: 20rem;
    height: auto;
    margin: auto 1rem auto 1rem;
}

p {
    font-weight: 500 !important;
}

h5 {
    font-weight: 600 !important;
}